*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New';
  outline: 1px dashed var(--text-color);
}

body{
  background-color: var(--bg-color);
}

ion-icon{
  cursor: pointer;
  font-size: 26px;
  color: var(--text-color);
  --ionicon-stroke-width: 18px;
}

:root .light-mode{
  --bg-color: #fff;
  --text-color: #000;

}

:root .dark-mode{
  --bg-color: #000;
  --text-color: #fff;
}

.noactive{
  animation: pop_Anim .1s ease-in-out;
  display: none;
}
.active{
  animation: pop_Anim .1s ease-in-out;
  display: flex;
}


.container__header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}
.container__nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.nav__item{
  color: var(--text-color);
  margin: 0px 50px 0px 0px;
}

@keyframes pop_Anim {
  0% {
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

#btnDarkmode{
  cursor: pointer;
  animation: pop_Anim .2s ease-in-out;
  transition: .2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  padding: 5px 5px;
  background-color: var(--btn-bgcolor);
  border: none;
}

#btnMenu{
  position: absolute;
  left: 30px;
  display: none;
}

@media (max-width: 568px){
  .container__nav{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      width: 100vw;
      height: 20vh;
  }
  .nav__item{
    display: none;
    text-align: left;
  }
  #btnMenu{
    display: block;
  }
}
